@font-face {
  font-family: 'MinionPro';
  src: url('./assets/fonts/MinionPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ambit';
  src: url('./assets/fonts/Ambit Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ambit';
  src: url('./assets/fonts/Ambit Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ambit';
  src: url('./assets/fonts/Ambit Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ambit';
  src: url('./assets/fonts/Ambit SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bookmania';
  src: url('./assets/fonts/fonnts.com-Bookmania_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bookmania';
  src: url('./assets/fonts/fonnts.com-Bookmania_Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bookmania';
  src: url('./assets/fonts/fonnts.com-Bookmania_Semibold_Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-size-adjust: 0.5;
}

@font-face {
  font-family: 'MV Boli';
  src: url('./assets/fonts/mvboli.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MAIAN';
  src: url('./assets/fonts/MAIAN.TTF') format('truetype');
}

@font-face {
  font-family: 'mvboli';
  src: url('./assets/fonts/mvboli.ttf') format('truetype');
}

:root {
  --bg-top: #E1E1FB;
  --bg-body: #FFFBE6;
  --bg-hero: #BECA60;
  --bg-hero-blue: #E4EAA8;
  --bg-blob: #E6F7D4;
  --color-primary: #A00028;
  --color-gold: #A6924B;
  --font-serif: 'MinionPro', serif;
  --font-sans: 'Ambit', sans-serif;
  --font-tools: 'MAIAN', cursive;
  
  font-family: var(--font-sans);
  line-height: 1.2;
  font-weight: 400;
  color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

html, body {
  max-width: 100vw;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-body);
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.05;
  mix-blend-mode: overlay;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-primary);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
